.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 40px;

  img {
    width: 12.5rem;

    @include md {
      width: 25rem;
    }
  }

  .error-title {
    color: $gray-900;
  }

  .error-description {
    color: $gray-700;
  }
}
