#brands {
  padding: 3.75rem 0;

  .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "box"
      "box";
    justify-items: center;
    gap: 10px;

    @include md {
      grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    }

    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 9.75rem;
      padding: 41px 22px;
      background-color: $white;
      border: 1px solid rgba(226, 229, 241, 1);
      border-radius: 0.5rem;
      cursor: pointer;

      @include md {
        width: 12.25rem;
      }
    }
  }
}
